<html>
<header>
    <link href="{{ url_for('static', path='/home.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
</header>

<body>
    <div class="top_bar">
        <a class="privacy_policy top_buttons">Privacy Policy</a>

        <a class="terms_of_service top_buttons">Terms of Service</a>

    </div>
    <div class="animated_text">
        <a href="https://top.gg/bot/800978542225391656" class="animated_text hunai">HunAI</a>
    </div>
</body>

</html>
